html, body {
    margin: 0;
    height: 100%;
}

body {

    background-image: url(/img/chem.gif) , url(/img/dam2.gif) ,url(/img/chem3.gif) ;
    background-repeat: no-repeat , no-repeat , no-repeat, no-repeat ;
    background-position: left bottom , 1292px 400px , 830px 320px  ;
    background-size:auto , 250px  , auto , 400px  ;
}
/* .box{
    width: 100%;
    height: 100%;
    background-image: url(/img/cuteCat.jpg);
    background-color: rgba(0,0,0,0.9);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100px 100px;
} */